/* cntnd_list */

.input_form {
  padding: 12px;
  background: rgba(200,200,200,.75);
}

.listitem {
  padding: 12px;
  background: rgba(200,200,200,.25);
  border: 2px solid rgba(200,200,200,.25);
  border-radius: 0.25rem;
  margin-bottom: 12px;
}
.listitem:nth-child(even) {
  background: rgba(200,200,200,.1);
}
